{
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "revision": "20260615",
  "ownerDomain": "google.com",
  "name": "drive",
  "discoveryVersion": "v1",
  "schemas": {
    "AccessProposal": {
      "description": "Manage outstanding access proposals on a file.",
      "properties": {
        "requestMessage": {
          "description": "The message that the requester added to the proposal.",
          "type": "string"
        },
        "requesterEmailAddress": {
          "type": "string",
          "description": "The email address of the requesting user."
        },
        "rolesAndViews": {
          "items": {
            "$ref": "AccessProposalRoleAndView"
          },
          "type": "array",
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
        },
        "fileId": {
          "type": "string",
          "description": "The file ID that the proposal for access is on."
        },
        "proposalId": {
          "description": "The ID of the access proposal.",
          "type": "string"
        },
        "recipientEmailAddress": {
          "description": "The email address of the user that will receive permissions, if accepted.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The creation time.",
          "format": "google-datetime"
        }
      },
      "id": "AccessProposal",
      "type": "object"
    },
    "PermissionList": {
      "description": "A list of permissions for a file.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "default": "drive#permissionList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`."
        },
        "permissions": {
          "type": "array",
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "id": "PermissionList",
      "type": "object"
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "properties": {
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        }
      },
      "id": "Channel",
      "type": "object"
    },
    "ApprovalList": {
      "id": "ApprovalList",
      "type": "object",
      "description": "The response of an approvals list request.",
      "properties": {
        "items": {
          "description": "The list of approvals. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Approval"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of approvals. This is absent if the end of the approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "kind": {
          "description": "This is always drive#approvalList",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AppIcons": {
      "id": "AppIcons",
      "type": "object",
      "properties": {
        "size": {
          "type": "integer",
          "description": "Size of the icon. Represented as the maximum of the width and height.",
          "format": "int32"
        },
        "iconUrl": {
          "type": "string",
          "description": "URL for the icon."
        },
        "category": {
          "type": "string",
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app."
        }
      }
    },
    "CancelApprovalRequest": {
      "id": "CancelApprovalRequest",
      "type": "object",
      "description": "Request for cancelling an approval as an initiator.",
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the cancellation of the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      }
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "type": "object",
      "description": "A modification to a label's field.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelFieldModification\"`."
        },
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setDateValues": {
          "items": {
            "format": "date",
            "type": "string"
          },
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array"
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "setSelectionValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Replaces a `selection` field with these new values."
        },
        "setIntegerValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array"
        }
      }
    },
    "AddReviewer": {
      "id": "AddReviewer",
      "type": "object",
      "description": "Representation of a reviewer addition.",
      "properties": {
        "addedReviewerEmail": {
          "description": "Required. The email of the reviewer to add.",
          "type": "string"
        }
      }
    },
    "DeclineApprovalRequest": {
      "id": "DeclineApprovalRequest",
      "type": "object",
      "description": "Request for declining an approval as a reviewer.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log."
        }
      }
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "type": "object",
      "description": "JWT and associated metadata used to generate CSE files.",
      "properties": {
        "currentKaclsName": {
          "type": "string",
          "description": "Name of the KACLs that the returned KACLs ID points to."
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
        },
        "currentKaclsId": {
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Approval": {
      "id": "Approval",
      "type": "object",
      "description": "Metadata for an approval. An approval is a review or approve process for a Drive item.",
      "properties": {
        "initiator": {
          "$ref": "User",
          "description": "The user that requested the approval."
        },
        "reviewerResponses": {
          "description": "The responses made on the approval by reviewers.",
          "type": "array",
          "items": {
            "$ref": "ReviewerResponse"
          }
        },
        "approvalId": {
          "description": "The approval ID.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the approval was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "dueTime": {
          "description": "The time that the approval is due.",
          "format": "google-datetime",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#approval.",
          "type": "string"
        },
        "completeTime": {
          "readOnly": true,
          "description": "Output only. The time the approval was completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The status of the approval at the time this resource was requested.",
          "enumDescriptions": [
            "The approval status has not been set or was set to an invalid value.",
            "The approval process has started and not finished.",
            "The approval process is finished and the target was approved.",
            "The approval process was cancelled before it finished.",
            "The approval process is finished and the target was declined."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "APPROVED",
            "CANCELLED",
            "DECLINED"
          ]
        },
        "modifyTime": {
          "description": "Output only. The most recent time the approval was modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "targetFileId": {
          "description": "Target file id of the approval.",
          "type": "string"
        }
      }
    },
    "About": {
      "id": "About",
      "type": "object",
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "properties": {
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "teamDriveThemes": {
          "items": {
            "type": "object",
            "properties": {
              "backgroundImageLink": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead."
              },
              "colorRgb": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/colorRgb` instead."
              },
              "id": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Use `driveThemes/id` instead."
              }
            }
          },
          "description": "Deprecated: Use `driveThemes` instead.",
          "deprecated": true,
          "type": "array"
        },
        "storageQuota": {
          "type": "object",
          "description": "The user's storage quota limits and usage. For users that are part of an organization with pooled storage, information about the limit and usage across all services is for the organization, rather than the individual user. All fields are measured in bytes.",
          "properties": {
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage. For users that are part of an organization with pooled storage, this is the limit for the organization, rather than the individual user.",
              "format": "int64",
              "type": "string"
            },
            "usageInDrive": {
              "description": "The usage by all files in Google Drive.",
              "format": "int64",
              "type": "string"
            },
            "usage": {
              "description": "The total usage across all services. For users that are part of an organization with pooled storage, this is the usage across all services for the organization, rather than the individual user.",
              "format": "int64",
              "type": "string"
            },
            "usageInDriveTrash": {
              "type": "string",
              "description": "The usage by trashed files in Google Drive.",
              "format": "int64"
            }
          }
        },
        "appInstalled": {
          "type": "boolean",
          "description": "Whether the user has installed the requesting app."
        },
        "maxImportSizes": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "A map of maximum import sizes by MIME type, in bytes."
        },
        "exportFormats": {
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": "A map of source MIME type to possible targets for all supported exports.",
          "type": "object"
        },
        "driveThemes": {
          "type": "array",
          "description": "A list of themes that are supported for shared drives.",
          "items": {
            "type": "object",
            "properties": {
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              },
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              }
            }
          }
        },
        "user": {
          "description": "The authenticated user.",
          "$ref": "User"
        },
        "folderColorPalette": {
          "type": "array",
          "description": "The currently supported folder colors as RGB hex strings.",
          "items": {
            "type": "string"
          }
        },
        "maxUploadSize": {
          "type": "string",
          "description": "The maximum upload size in bytes.",
          "format": "int64"
        },
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`.",
          "type": "string",
          "default": "drive#about"
        },
        "importFormats": {
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": "object",
          "description": "A map of source MIME type to possible targets for all supported imports."
        }
      }
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "type": "object",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "properties": {
        "labelModifications": {
          "items": {
            "$ref": "LabelModification"
          },
          "type": "array",
          "description": "The list of modifications to apply to the labels on the file."
        },
        "kind": {
          "description": "This is always `\"drive#modifyLabelsRequest\"`.",
          "type": "string"
        }
      }
    },
    "DownloadRestrictionsMetadata": {
      "id": "DownloadRestrictionsMetadata",
      "type": "object",
      "description": "Download restrictions applied to the file.",
      "properties": {
        "effectiveDownloadRestrictionWithContext": {
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules.",
          "$ref": "DownloadRestriction"
        },
        "itemDownloadRestriction": {
          "$ref": "DownloadRestriction",
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules."
        }
      }
    },
    "DriveList": {
      "description": "A list of shared drives.",
      "properties": {
        "kind": {
          "default": "drive#driveList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`."
        },
        "drives": {
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Drive"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        }
      },
      "id": "DriveList",
      "type": "object"
    },
    "ContentRestriction": {
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "systemRestricted": {
          "type": "boolean",
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "restrictionTime": {
          "type": "string",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "format": "date-time"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "ownerRestricted": {
          "type": "boolean",
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
        }
      },
      "id": "ContentRestriction",
      "type": "object"
    },
    "ReplyList": {
      "id": "ReplyList",
      "type": "object",
      "description": "A list of replies to a comment on a file.",
      "properties": {
        "replies": {
          "items": {
            "$ref": "Reply"
          },
          "type": "array",
          "description": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "kind": {
          "default": "drive#replyList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`."
        }
      }
    },
    "File": {
      "id": "File",
      "type": "object",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "contentHints": {
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "properties": {
            "indexableText": {
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and may contain HTML elements.",
              "type": "string"
            },
            "thumbnail": {
              "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
              "properties": {
                "image": {
                  "description": "The thumbnail data encoded with URL-safe Base64 ([RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5)).",
                  "format": "byte",
                  "type": "string"
                },
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the thumbnail."
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "isAppAuthorized": {
          "type": "boolean",
          "description": "Output only. Whether the file was created or opened by the requesting app."
        },
        "modifiedTime": {
          "type": "string",
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user.",
          "format": "date-time"
        },
        "teamDriveId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Output only. Use `driveId` instead."
        },
        "starred": {
          "type": "boolean",
          "description": "Whether the user has starred the file."
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser."
        },
        "folderColorRgb": {
          "type": "string",
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead."
        },
        "trashedTime": {
          "type": "string",
          "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.",
          "format": "date-time"
        },
        "writersCanShare": {
          "type": "boolean",
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests."
        },
        "clientEncryptionDetails": {
          "$ref": "ClientEncryptionDetails",
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "hasAugmentedPermissions": {
          "type": "boolean",
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives."
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.",
          "type": "string"
        },
        "viewedByMe": {
          "type": "boolean",
          "description": "Output only. Whether the file has been viewed by this user."
        },
        "modifiedByMeTime": {
          "type": "string",
          "description": "The last time the file was modified by the user (RFC 3339 date-time).",
          "format": "date-time"
        },
        "modifiedByMe": {
          "description": "Output only. Whether the file has been modified by this user.",
          "type": "boolean"
        },
        "headRevisionId": {
          "type": "string",
          "description": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive."
        },
        "viewedByMeTime": {
          "type": "string",
          "description": "The last time the file was viewed by the user (RFC 3339 date-time).",
          "format": "date-time"
        },
        "size": {
          "type": "string",
          "description": "Output only. Size in bytes of blobs and Google Workspace editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "format": "int64"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "trashed": {
          "type": "boolean",
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted."
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the file was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "labelInfo": {
          "type": "object",
          "description": "Label information on the file.",
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "type": "array",
              "items": {
                "$ref": "Label"
              }
            }
          }
        },
        "appProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties."
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
        },
        "viewersCanCopyContent": {
          "description": "Deprecated: Use `copyRequiresWriterPermission` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`.",
          "default": "drive#file"
        },
        "owners": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives."
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.",
          "type": "boolean"
        },
        "capabilities": {
          "type": "object",
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities).",
          "properties": {
            "canReadTeamDrive": {
              "description": "Deprecated: Output only. Use `canReadDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this file."
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canChangeViewersCanCopyContent": {
              "description": "Deprecated: Output only.",
              "deprecated": true,
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read."
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canUntrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can restore this file from trash."
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead."
            },
            "canDelete": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this file."
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canChangeItemDownloadRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder."
            },
            "canModifyContentRestriction": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`."
            },
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canDisableInheritedPermissions": {
              "description": "Whether a user can disable inherited permissions.",
              "type": "boolean"
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download this file."
            },
            "canMoveItemIntoTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "description": "Whether a user can re-enable inherited permissions.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canMoveChildrenOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead."
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on this file."
            },
            "canMoveItemWithinTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead."
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the sharing settings for this file."
            },
            "canMoveChildrenOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canTrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this file to trash."
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there's a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder."
            },
            "canStartApproval": {
              "description": "Whether the current user can start an approval on the file.",
              "type": "boolean"
            }
          }
        },
        "shortcutDetails": {
          "type": "object",
          "description": "Information about a shortcut file.",
          "properties": {
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.create` requests.",
              "type": "string"
            },
            "targetMimeType": {
              "type": "string",
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created."
            },
            "targetResourceKey": {
              "type": "string",
              "description": "Output only. The `resourceKey` for the target file."
            }
          }
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "videoMediaMetadata": {
          "description": "Output only. Additional metadata about video media. This may not be available immediately upon upload.",
          "properties": {
            "height": {
              "description": "Output only. The height of the video in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "width": {
              "type": "integer",
              "description": "Output only. The width of the video in pixels.",
              "format": "int32"
            },
            "durationMillis": {
              "description": "Output only. The duration of the video in milliseconds.",
              "format": "int64",
              "type": "string"
            }
          },
          "type": "object"
        },
        "downloadRestrictions": {
          "description": "Download restrictions applied on the file.",
          "$ref": "DownloadRestrictionsMetadata"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "sharedWithMeTime": {
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "permissions": {
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "ownedByMe": {
          "description": "Output only. Whether the user owns the file. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "exportLinks": {
          "type": "object",
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "sharingUser": {
          "description": "Output only. The user who shared the file with the requesting user, if applicable.",
          "$ref": "User"
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "type": "string",
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled.",
          "format": "int64"
        },
        "thumbnailVersion": {
          "type": "string",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "format": "int64"
        },
        "iconLink": {
          "description": "Output only. A static, unauthenticated link to the file's icon.",
          "type": "string"
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "linkShareMetadata": {
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "properties": {
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            },
            "securityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the security update is enabled for this file."
            }
          },
          "type": "object"
        },
        "contentRestrictions": {
          "type": "array",
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file should be disabled for readers and commenters."
        },
        "spaces": {
          "description": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hasThumbnail": {
          "type": "boolean",
          "description": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
        },
        "mimeType": {
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant."
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension.",
          "type": "string"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive."
        },
        "version": {
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
          "format": "int64",
          "type": "string"
        },
        "imageMediaMetadata": {
          "description": "Output only. Additional metadata about image media, if available.",
          "properties": {
            "colorSpace": {
              "type": "string",
              "description": "Output only. The color space of the photo."
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "whiteBalance": {
              "type": "string",
              "description": "Output only. The white balance mode used to create the photo."
            },
            "time": {
              "description": "Output only. The date and time the photo was taken (EXIF DateTime).",
              "type": "string"
            },
            "exposureTime": {
              "type": "number",
              "description": "Output only. The length of the exposure, in seconds.",
              "format": "float"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "exposureBias": {
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "width": {
              "type": "integer",
              "description": "Output only. The width of the image in pixels.",
              "format": "int32"
            },
            "focalLength": {
              "type": "number",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "format": "float"
            },
            "flashUsed": {
              "type": "boolean",
              "description": "Output only. Whether a flash was used to create the photo."
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "format": "int32",
              "type": "integer"
            },
            "height": {
              "description": "Output only. The height of the image in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "exposureMode": {
              "type": "string",
              "description": "Output only. The exposure mode used to create the photo."
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "rotation": {
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "format": "int32",
              "type": "integer"
            },
            "aperture": {
              "type": "number",
              "description": "Output only. The aperture used to create the photo (f-number).",
              "format": "float"
            },
            "location": {
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "latitude": {
                  "type": "number",
                  "description": "Output only. The latitude stored in the image.",
                  "format": "double"
                },
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "format": "double",
                  "type": "number"
                },
                "longitude": {
                  "type": "number",
                  "description": "Output only. The longitude stored in the image.",
                  "format": "double"
                }
              },
              "type": "object"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "isoSpeed": {
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32",
              "type": "integer"
            },
            "maxApertureValue": {
              "type": "number",
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "format": "float"
            }
          },
          "type": "object"
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        }
      }
    },
    "ReassignApprovalRequest": {
      "description": "Request for reassigning an approval. Reviewers can be added or replaced, but not removed.",
      "properties": {
        "replaceReviewers": {
          "type": "array",
          "description": "Optional. The list of reviewer replacements.",
          "items": {
            "$ref": "ReplaceReviewer"
          }
        },
        "addReviewers": {
          "description": "Optional. The list of reviewers to add.",
          "type": "array",
          "items": {
            "$ref": "AddReviewer"
          }
        },
        "message": {
          "type": "string",
          "description": "Optional. A message to send to the new reviewers. This message is included in notifications for the action and in the approval activity log."
        }
      },
      "id": "ReassignApprovalRequest",
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "description": "Details about the client-side encryption applied to the file.",
      "properties": {
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        },
        "decryptionMetadata": {
          "$ref": "DecryptionMetadata",
          "description": "The metadata used for client-side operations."
        }
      },
      "id": "ClientEncryptionDetails",
      "type": "object"
    },
    "AppList": {
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "properties": {
        "defaultAppIds": {
          "type": "array",
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "drive#appList",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\".",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          }
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "id": "AppList",
      "type": "object"
    },
    "ListAccessProposalsResponse": {
      "id": "ListAccessProposalsResponse",
      "type": "object",
      "description": "The response to an access proposal list request.",
      "properties": {
        "accessProposals": {
          "items": {
            "$ref": "AccessProposal"
          },
          "type": "array",
          "description": "The list of access proposals. This field is only populated in Drive API v3."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token for the next page of results. This will be absent if the end of the results list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      }
    },
    "App": {
      "description": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "properties": {
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "hasDriveWideScope": {
          "type": "boolean",
          "description": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive."
        },
        "useByDefault": {
          "type": "boolean",
          "description": "Whether the app is selected as the default handler for the types it supports."
        },
        "supportsCreate": {
          "description": "Whether this app supports creating objects.",
          "type": "boolean"
        },
        "createUrl": {
          "description": "The URL to create a file with this app.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "primaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions.",
          "type": "array"
        },
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary file extensions.",
          "type": "array"
        },
        "createInFolderTemplate": {
          "type": "string",
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file."
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Google Docs."
        },
        "authorized": {
          "type": "boolean",
          "description": "Whether the app is authorized to access data on the user's Drive."
        },
        "primaryMimeTypes": {
          "description": "The list of primary MIME types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportsMultiOpen": {
          "type": "boolean",
          "description": "Whether this app supports opening more than one file."
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "icons": {
          "items": {
            "$ref": "AppIcons"
          },
          "type": "array",
          "description": "The various icons for the app."
        },
        "objectType": {
          "description": "The type of object this app creates such as a Chart. If empty, the app name should be used instead.",
          "type": "string"
        },
        "installed": {
          "type": "boolean",
          "description": "Whether the app is installed."
        },
        "kind": {
          "default": "drive#app",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\"."
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating files when offline.",
          "type": "boolean"
        },
        "openUrlTemplate": {
          "type": "string",
          "description": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation."
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "secondaryMimeTypes": {
          "type": "array",
          "description": "The list of secondary MIME types.",
          "items": {
            "type": "string"
          }
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        }
      },
      "id": "App",
      "type": "object"
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "description": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The ID of the comment."
        },
        "resolved": {
          "description": "Output only. Whether the comment has been resolved by one of its replies.",
          "type": "boolean"
        },
        "quotedFileContent": {
          "type": "object",
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
          "properties": {
            "value": {
              "type": "string",
              "description": "The quoted content itself. This is interpreted as plain text if set through the API."
            },
            "mimeType": {
              "type": "string",
              "description": "The MIME type of the quoted content."
            }
          }
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated."
        },
        "createdTime": {
          "description": "The time at which the comment was created (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "anchor": {
          "type": "string",
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."
        },
        "mentionedEmailAddresses": {
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "deleted": {
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content.",
          "type": "boolean"
        },
        "replies": {
          "items": {
            "$ref": "Reply"
          },
          "description": "Output only. The full list of replies to the comment in chronological order.",
          "type": "array"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`.",
          "type": "string",
          "default": "drive#comment"
        },
        "modifiedTime": {
          "type": "string",
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
          "format": "date-time"
        },
        "content": {
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          },
          "type": "string"
        },
        "htmlContent": {
          "description": "Output only. The content of the comment with HTML formatting.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ReviewerResponse": {
      "id": "ReviewerResponse",
      "type": "object",
      "description": "A response on an approval made by a specific reviewer.",
      "properties": {
        "reviewer": {
          "$ref": "User",
          "description": "The user that's responsible for this response."
        },
        "response": {
          "type": "string",
          "description": "A reviewer’s response for the approval.",
          "enumDescriptions": [
            "The response was set to an unrecognized value.",
            "The reviewer hasn't responded.",
            "The reviewer has approved the item.",
            "The reviewer has declined the item."
          ],
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ]
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#reviewerResponse."
        }
      }
    },
    "ChangeList": {
      "id": "ChangeList",
      "type": "object",
      "description": "A list of changes for a user.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire.",
          "type": "string"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire.",
          "type": "string"
        },
        "changes": {
          "type": "array",
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.",
          "type": "string",
          "default": "drive#changeList"
        }
      }
    },
    "LabelField": {
      "id": "LabelField",
      "type": "object",
      "description": "Representation of field, which is a typed key-value pair.",
      "properties": {
        "kind": {
          "description": "This is always drive#labelField.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier of this label field."
        },
        "dateString": {
          "items": {
            "format": "date",
            "type": "string"
          },
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "type": "array"
        },
        "valueType": {
          "type": "string",
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`"
        },
        "user": {
          "items": {
            "$ref": "User"
          },
          "description": "Only present if `valueType` is `user`.",
          "type": "array"
        },
        "integer": {
          "description": "Only present if `valueType` is `integer`.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`",
          "type": "array"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only present if `valueType` is `text`."
        }
      }
    },
    "ModifyLabelsResponse": {
      "id": "ModifyLabelsResponse",
      "type": "object",
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request.",
      "properties": {
        "modifiedLabels": {
          "type": "array",
          "description": "The list of labels which were added or updated by the request.",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "description": "This is always `\"drive#modifyLabelsResponse\"`.",
          "type": "string"
        }
      }
    },
    "LabelList": {
      "description": "A list of labels applied to a file.",
      "properties": {
        "labels": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelList\"`."
        }
      },
      "id": "LabelList",
      "type": "object"
    },
    "StartApprovalRequest": {
      "description": "Allows creating an approval on a file.",
      "properties": {
        "reviewerEmails": {
          "description": "Required. The emails of the users who are set to review the approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dueTime": {
          "description": "Optional. The time that the approval is due.",
          "format": "google-datetime",
          "type": "string"
        },
        "lockFile": {
          "type": "boolean",
          "description": "Optional. Whether to lock the file when starting the approval."
        },
        "message": {
          "description": "Optional. A message to send to reviewers when notifying them of the approval request.",
          "type": "string"
        }
      },
      "id": "StartApprovalRequest",
      "type": "object"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "description": "Representation of label and label fields.",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "The revision ID of the label."
        },
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        },
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#label",
          "type": "string"
        }
      }
    },
    "StartPageToken": {
      "id": "StartPageToken",
      "type": "object",
      "properties": {
        "startPageToken": {
          "description": "The starting page token for listing future changes. The page token doesn't expire.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string",
          "default": "drive#startPageToken"
        }
      }
    },
    "Permission": {
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "displayName": {
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present.",
          "type": "string"
        },
        "type": {
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "type": "string",
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required."
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "type": "string",
          "default": "drive#permission"
        },
        "expirationTime": {
          "type": "string",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "format": "date-time"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`."
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive.",
          "type": "boolean"
        },
        "role": {
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "type": "string",
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
        },
        "photoLink": {
          "type": "string",
          "description": "Output only. A link to the user's profile photo, if available."
        },
        "teamDrivePermissionDetails": {
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "inheritedFrom": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead."
              },
              "inherited": {
                "deprecated": true,
                "type": "boolean",
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead."
              },
              "teamDrivePermissionType": {
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead.",
                "deprecated": true,
                "type": "string"
              },
              "role": {
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "deprecated": true
        },
        "permissionDetails": {
          "readOnly": true,
          "items": {
            "properties": {
              "role": {
                "type": "string",
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles)."
              },
              "permissionType": {
                "type": "string",
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string",
                "readOnly": true
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "type": "array"
        },
        "emailAddress": {
          "readOnly": true,
          "description": "Output only. The email address of the user or group to which this permission refers.",
          "type": "string"
        },
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "domain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The domain to which this permission refers."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values."
        }
      },
      "id": "Permission",
      "type": "object"
    },
    "DecryptionMetadata": {
      "description": "Representation of the CSE DecryptionMetadata.",
      "properties": {
        "kaclsId": {
          "type": "string",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "format": "int64"
        },
        "wrappedKey": {
          "type": "string",
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file."
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "type": "string",
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "
        },
        "encryptionResourceKeyHash": {
          "type": "string",
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file.",
          "type": "string"
        },
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        }
      },
      "id": "DecryptionMetadata",
      "type": "object"
    },
    "AccessProposalRoleAndView": {
      "id": "AccessProposalRoleAndView",
      "type": "object",
      "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
      "properties": {
        "role": {
          "description": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported.",
          "type": "string"
        }
      }
    },
    "CommentList": {
      "description": "A list of comments on a file.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`.",
          "default": "drive#commentList"
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      },
      "id": "CommentList",
      "type": "object"
    },
    "CommentApprovalRequest": {
      "id": "CommentApprovalRequest",
      "type": "object",
      "description": "Request for commenting on an approval.",
      "properties": {
        "message": {
          "description": "Required. A message to comment on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      }
    },
    "LabelModification": {
      "id": "LabelModification",
      "type": "object",
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelModification\"`."
        },
        "labelId": {
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "type": "string",
          "description": "The ID of the label to modify."
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "fieldModifications": {
          "description": "The list of modifications to this label's fields.",
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          }
        }
      }
    },
    "FileList": {
      "id": "FileList",
      "type": "object",
      "description": "A list of files.",
      "properties": {
        "incompleteSearch": {
          "type": "boolean",
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`."
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`.",
          "type": "string",
          "default": "drive#fileList"
        },
        "files": {
          "description": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      }
    },
    "Drive": {
      "id": "Drive",
      "type": "object",
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "properties": {
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this shared drive."
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float",
              "type": "number"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float",
              "type": "number"
            },
            "xCoordinate": {
              "type": "number",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float"
            }
          },
          "type": "object"
        },
        "colorRgb": {
          "type": "string",
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`."
        },
        "kind": {
          "default": "drive#drive",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`."
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "capabilities": {
          "type": "object",
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "properties": {
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
            },
            "canReadRevisions": {
[...]
